{% extends "base.html" %}


{% block botones %}
    <form action="/login" method="GET">
        <button class="btn btn-light action-button" type="submit" style="font-size: 20px;padding: 4.8px 12.8px;margin-top: 15px; width:150px;">Log In</button> 
        <button class="btn btn-light action-button" type="submit" formaction="/register" style="font-size: 20px;padding: 4.8px 12.8px;margin-top: 15px; width:150px;">Sign Up</button>
    </form>
{% endblock %}


{% block contenido %}
    <section class="register-photo" style="height: 680px;padding: 50px;">
        <div class="form-container">
            <div class="image-holder" style="width: 500px;height: 500px;"></div>
            <form method="post" style="width: 450px;height: 506px;">
                <h2 class="text-center"><strong>XENOPUS</strong>&nbsp;LAEVIS</h2>
                <div class="mb-3">
                    <p> Es una red social de imágenes donde podrás compartir los mejores momentos de tu vida con el mundo. <br><br>
                        Carga tus fotos, describes tus experiencias y compártelas con tus amigos y un sin límite de personas que ya hacen parte de esta gran comunidad.<br><br>
                        Se parte de esta experiencia y muéstrate al mundo como eres. Deja que los demás te muestren el mundo como ellos lo viven.<br><br><br><br><br><br>
                    </p>
                </div>
            </form>
        </div>
        <div></div>
    </section>
{% endblock %}


{% block contact %} 
    <li class="list-inline-item"><a href="/contact">Contáctenos</a></li>
{% endblock %}

