{% extends "base.html" %}


{% block botones %}
    <form action="/" method="POST">
        <button class="btn btn-light action-button" type="submit" style="font-size: 20px;padding: 4.8px 12.8px;margin-top: 15px; ">Regresar al Home</button> 
    </form>
{% endblock %}


{% block contenido %}
    <section class="login-clean" style="padding: 50px 0px;">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="row" style="margin-right: 0px;margin-left: 0px;">
                        <div class="col text-center" style="margin-top: 20px;"><h2 style="font-size: 24px;">Datos del Usuario</h2></div>
                    </div>
                    <div class="row justify-content-center" style="margin-right: 0px;margin-left: 0px;">
                        <div class="col-sm-6 col-lg-4" style="width: 550.656px;">
                            <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" style="padding: 20px;" src="data:;base64,{{ image }}">
                                <div class="card-body info">
                                    <div class="row" style="margin-top: -24px;">
                                        <div class="col-md-12" style="margin-top: 22px;">
                                            <div class="row">
                                                <div class="col"><p class="text-start labels"><strong>Nombre</strong></p></div>
                                                <div class="col"><p>{{ form.name(type="text", readonly="true", style="border: 0px;") }}</p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><p class="text-start labels"><strong>Usuario</strong></p></div>
                                                <div class="col"><p>{{ form.user(type="text", readonly="true", style="border: 0px;") }}</p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><p class="text-start labels"><strong>Email</strong></p></div>
                                                <div class="col"><p>{{ form.email(type="text", readonly="true", style="border: 0px;") }}</p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><p class="text-start labels"><strong>Fecha Nacimiento</strong></p></div>
                                                <div class="col"><p>{{ form.date(type="date", readonly="true", style="border: 0px;") }}</p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><p class="text-start labels"><strong>Genero</strong></p></div>
                                                <div class="col"><p>{{ form.gender(type="text", readonly="true", style="border: 0px;") }}</p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><p class="text-start labels"><strong>Descripción</strong><br></p></div>
                                                <div class="col"><p>{{ form.description(type="text", readonly="true", style="min-height: 100px; height:auto; border: 0px;") }}</p></div>
                                            </div>
                                            <div class="row">
                                                <div class="col"><p class="text-start labels"><strong>Localización</strong><br></p></div>
                                                <div class="col"><p>{{ form.localization(type="text", readonly="true", style="border: 0px;") }}</p></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-8">
                    <div class="row" style="margin-right: 0px;margin-left: 0px;">
                        <div class="col text-center" style="margin-top: 20px;"><h2 style="font-size: 24px;">Publicaciones del Usuario</h2></div>
                    </div>
                    <section class="photo-gallery" style="margin-top: 0px;">
                        <div class="container-fluid" style="padding: 0px;">
                            <div class="row mt-4 text-center" style="margin-top:0px !important; margin-left:15px;">
                                {% if rows|length == 0 %}
                                    <div>
                                        <h4 style="margin-top: 10px;">{{ User_Nombre }} no tiene publicaciones aún</h4>                                            
                                    </div>
                                {% endif %}
                                {% for row in rows %}
                                    <div class="item col-sm-2 col-md-5 mb-3" style="padding: 0px; margin:15px;">
                                        <div>
                                            <h5 data-id="modal_body" style="margin-top: 10px;">{{ row['Post_title'] }}</h5>                                            
                                            <img src="data:;base64,{{ lista_Fotos[ row['Post_ID'] ] }}" width="100%" height="100%" class="gallery-item" alt="gallery">     
                                            <h6 align="left" data-id="modal_body" style="margin-top: 10px;">{{ row['Post_description'] }}</h6>    
                                        </div>                                     
                                    </div>                                        
                                {% endfor %}
                            </div>
                        </div>                        
                    </section>                         
                    
                    <!-- Modal -->
                    <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <img style="height: 100px; width: 100px; padding: 10px;" class="rounded-circle" src="data:;base64,{{ image }}" alt="modal header">    
                                <div class="row" style="padding: 15px;">                
                                    <h5 class="modal-title row" id="exampleModalLabel">{{ User_Nombre }}</h5>                                        
                                        <h6 class="modal-body"></h6>                                                                               
                                </div>                   
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <img src="" class="modal-img img-fluid img-center" style="display: block;" alt="modal img">
                            </div>                          
                        </div>
                        </div>
                    </div>                        
                </div>

            </div>
        </div>        
    </section>    
{% endblock %}